# ===================
# Python
# ===================
__pycache__/
*.py[cod]
*.egg-info/
dist/
*.egg
backend/.venv/
*.log

# ===================
# 环境变量
# ===================
.env
.env.local

# ===================
# Node.js / Vue
# ===================
node_modules/
frontend/dist/

# ===================
# IDE
# ===================
.idea/
.vscode/
*.swp
*.swo

# ===================
# OS
# ===================
.DS_Store
Thumbs.db

# ===================
# 其他
# ===================
.trae/
